body{
    background: #A5D7E8;}

.jumbotron {
    background-color: #fff;
    padding: 2rem 1rem;
}
h1 {
    font-size: 3rem;
}
p {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

#Thanks-main
{
   background: linear-gradient(#c9ffbf,#ffafbd);
}
.nav1:hover{

    color: #fff;
     line-height: 1.5rem;
     font-family: monospace;
     font-weight: 700;
     border: 2px solid white;
     text-align: center;
}

.navbar-brand
{
    font-weight: 900;
    margin-left: 3%;
}


#home
{
    text-decoration: none;
    color: #fff;
}
#home :after
{
    text-decoration: none;
}
.nav-bar-links
{

font-weight: 100;
margin : 1% 0 0 0;
padding-bottom: 3px;
}
.nav1
{
    color: #fff;
     line-height: 1.5rem;
     font-family: monospace;
     text-align: center;
}

#footerh {
    background: #A5D7E8;
    color: #000;
    padding: 30px 0;
}

.f-details {
    margin-bottom: 10px;
}

.icon {
    margin-right: 10px;
}
#footerh .row {
    margin-bottom: 20px;
}

#footerh .col {
    text-align: center;
    margin-bottom: 20px;
}
.copright {
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: small;
}

/* Responsive styles */

@media screen and (max-width: 768px) {
    #footerh .row {
        margin-bottom: 20px;
    }
    
    #footerh .col {
        text-align: center;
        margin-bottom: 20px;
    }
    
    .icon {
        margin-right: 5px;
    }
    
    .copright {
        font-size: 14px;
        margin-top: 10px;
    }
}
