body{
background: #A5D7E8;
font-family: sans-serif;}
h2{
    line-height: 1.4rem;
    font-family:'Montserrat', sans-serif;;
}
hr {
    width: 10%;
    margin-left: 40%;
    text-align: center;
    border-style: dotted;
    border-color: white;
    border-width: 10px;
}


#header{

    background: #0B2447;
    color: white;
    
}
.full-content {
   display: none;
}


.nav1:hover{

    color: #fff;
     line-height: 1.5rem;
     font-family: monospace;
     font-weight: 700;
     border: 2px solid white;
     text-align: center;
}

.navbar-brand
{
    font-weight: 900;
    margin-left: 3%;
}


#home
{
    text-decoration: none;
    color: #fff;
}
#home :after
{
    text-decoration: none;
}
.nav-bar-links
{

font-weight: 100;
margin : 1% 0 0 0;
padding-bottom: 3px;
}
.a{
    padding: 30px;
    background: linear-gradient(45deg,#0F2027,#203A43,#2c5364);
    background-size: 300% 300%;
    animation: gradient 10s ease infinite;
    color: #fff;

}
.nav1
{
    color: #fff;
     line-height: 1.5rem;
     font-family: monospace;
     text-align: center;
}
  

.carousel-item
{
    
    background: transparent;
    padding: 3%;
    padding-left: 9%;
padding-right: 9%;
font-size: medium;

}

.cr-btn
{
   
}
.NGOslides
{

text-align: center;
max-height:900px ;


}



#footerh {
    background: #0B2447;
    color: #fff;
    padding: 30px 0;
}

.f-details {
    margin-bottom: 10px;
}

.icon {
    margin-right: 10px;
}
#footerh .row {
    margin-bottom: 20px;
}

#footerh .col {
    text-align: center;
    margin-bottom: 20px;
}
.copright {
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    
}

/* Responsive styles */

@media screen and (max-width: 768px) {
    #footerh .row {
        margin-bottom: 20px;
    }
    
    #footerh .col {
        text-align: center;
        margin-bottom: 20px;
    }
    
    .icon {
        margin-right: 5px;
    }
    
    .copright {
        font-size: 14px;
        margin-top: 10px;
    }
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
